# Google Sheets IDs and tab names for each survey
VITE_GOOGLE_SHEET_ID_FARMER=
VITE_GOOGLE_SHEET_NAME_FARMER=

VITE_GOOGLE_SHEET_ID_ENTERPRISE=
VITE_GOOGLE_SHEET_NAME_ENTERPRISE=

VITE_GOOGLE_SHEET_ID_YOUTH=
VITE_GOOGLE_SHEET_NAME_YOUTH=
